@{
    Class[] classes;
    if (ViewData["classes"] != null) classes =
    ((IEnumerable<Class>)(ViewData["classes"])).ToArray<Class>();
    else classes = new Class[] { };
}

<div class="text-center">
    @if (classes.Length > 0)
    {
        <table class="table">
            <thead>
                <tr>
                    <td>ID</td>
                    <td>Name</td>
                    <td>Bootcamp</td>
                    <td>Start Time</td>
                    <td>End Time</td>
                    <td>Instructor</td>
                </tr>
            </thead>
            <tbody>
                @{
                    foreach (var cls in classes)
                    {
                        <tr>
                            <td>@cls.Id</td>
                            <td>@cls.Name</td>
                            <td><a href="/Home/Bootcamps/@cls.BootcampId">@cls.BootcampId</a></td>
                            <td>@cls.StartTime.Hour:@cls.StartTime.Minute</td>
                            <td>@cls.EndTime.Hour:@cls.EndTime.Minute</td>
                            <td><a href="/Home/Instructors/@cls.InstructorId">@cls.InstructorId</a></td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    }
    else
    {
        <h1>No Results</h1>
        <h4>No bootcamps found with the given criteria</h4>
    }
</div>
