@{
    var Artists = (ArtistModel)ViewData["Artists"];
    var Paintings = (PaintingModel)ViewData["Paintings"];
    var Galleries = (GalleryModel)ViewData["Galleries"]; 
  
}



<div class="card mb-5" style="margin-bottom:20px; margin-top:20px; text-align:center">
    <div class="card mb-12">
        <h3 class="card-header">  @Paintings.PntName</h3>
        <div class="card-body">
           
            <div class="row" style="align-content: center">
                <div class="col d-flex justify-content-center align-items-center">
                    <img class="img-fluid" src="@Paintings.PntImg" alt="Card image cap" height="400" width="200">
                </div>
            </div>
            <div>
                <p>
                    @Paintings.PntOverview
                </p>
                <p>
                    Negotiated in @Galleries.GlrName at @Galleries.GlrLocation 
                </p>
            </div>
        </div>

        <div class="card-body">
            <div class="card-body">
                <a href="/Paintings" class="btn btn-dark">Back</a>
            </div>

        </div>
    </div>
</div>




