@{
    ViewData["Title"] = "Index";
}
@{
    List<StaffModel> Staff = (List<StaffModel>)ViewData["Staff"];
    List<ServiceModel> Services = (List<ServiceModel>)ViewData["Services"];
}

<h2>Compound Services</h2>



<br />
<br />
<table style="width:100%; align-content:center" class="table table table-striped ">
    <thead class="thead-dark " style=" align-content:center">
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Staff</th>
        </tr>
    </thead>
    @foreach (ServiceModel prd in Services)
    {
        <tr>
            <th scope="row">@prd.Service_Id</th>
            <td>@prd.Service_Name</td>
            @if (@prd.StaffId == 3) { <td>@prd.Staff.Staff_Name</td>}
            else{<td>@prd.Staff.Staff_Name</td>}

        </tr>
    }
</table>
