@page
@model BooksStoreMVC.Views.Auther.IndexModel
@{
    var Auther = (List<AutherModel>)ViewBag.Auther;
    var searchByID = (AutherModel)ViewBag.SearchByID;

}
<h2>Search for Auther with id 2</h2>
<h3>@searchByID.AuthId | @searchByID.AuthName | @searchByID.AuthPhone</h3>

@foreach (var auth in Auther)
{
    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">@auth.AuthId</h5>
            <p class="card-text">@auth.AuthName | @auth.AuthPhone</p>
            <a href="#" class="btn btn-primary"> Authers</a>
        </div>
    </div>
}